.sandefjord-referat ul.lst-kix_xqqcx8232w4-0 {
  list-style-type: none
}

.sandefjord-referat ul.lst-kix_xqqcx8232w4-1 {
  list-style-type: none
}

.sandefjord-referat .lst-kix_xqqcx8232w4-0>li:before {
  content: "\0025cf   "
}

.sandefjord-referat .lst-kix_xqqcx8232w4-1>li:before {
  content: "\0025cb   "
}

.sandefjord-referat ul.lst-kix_bo25lmvza5g6-0 {
  list-style-type: none
}

.sandefjord-referat .lst-kix_bo25lmvza5g6-0>li:before {
  content: "\0025cf   "
}

.sandefjord-referat ul.lst-kix_bo25lmvza5g6-1 {
  list-style-type: none
}

.sandefjord-referat .lst-kix_bo25lmvza5g6-1>li:before {
  content: "\0025cb   "
}

.sandefjord-referat {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
  box-sizing: content-box;
}

.sandefjord-referat li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.sandefjord-referat .c1 {
  margin-left: 72pt;
  padding-top: 8pt;
  padding-left: 0pt;
  padding-bottom: 8pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sandefjord-referat .c11 {
  margin-left: 288pt;
  padding-top: 0pt;
  text-indent: 36pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sandefjord-referat .c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.sandefjord-referat .c4 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.sandefjord-referat .c6 {
  padding-top: 8pt;
  padding-bottom: 8pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sandefjord-referat .c10 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sandefjord-referat .c5 {
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin: 0;
}

.sandefjord-referat .c9 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal
}

.sandefjord-referat .c13 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sandefjord-referat .c12 {
  margin-left: 36pt;
  padding-left: 0pt
}

.sandefjord-referat .c0 {
  padding: 0;
  margin: 0
}

.sandefjord-referat .c2 {
  font-weight: 700
}

.sandefjord-referat .c7 {
  height: 11pt
}

.sandefjord-referat li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

.sandefjord-referat p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

.sandefjord-referat h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sandefjord-referat h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.sandefjord-referat h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}