.vinlotteri ul.lst-kix_gijpv36prxzc-0 {
  list-style-type: none
}

.vinlotteri .lst-kix_gijpv36prxzc-0>li:before {
  content: "-  "
}

.vinlotteri .c6 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.vinlotteri .c1 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.vinlotteri .c15 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal
}

.vinlotteri .c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.vinlotteri .c8 {
  color: #0000ff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Caveat";
  font-style: normal
}

.vinlotteri .c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Arial";
  font-style: normal
}

.vinlotteri .c12 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Arial";
  font-style: normal
}

.vinlotteri .c18 {
  color: #0000ff;
  font-weight: 400;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Caveat";
  font-style: normal
}

.vinlotteri .c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.vinlotteri .c17 {
  color: #0000ff;
  font-weight: 400;
  font-size: 27pt;
  font-family: "Caveat"
}

.vinlotteri .c14 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: line-through
}

.vinlotteri .c10 {
  background-color: #1f1f1f;
  color: #99c3ff;
  font-size: 21pt
}

.vinlotteri .c13 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline
}

.vinlotteri {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
  box-sizing: content-box;
}

.vinlotteri .c7 {
  background-color: #999999;
  color: #ffffff
}

.vinlotteri .c22 {
  color: inherit;
  text-decoration: inherit
}

.vinlotteri .c9 {
  background-color: #999999;
  color: #ff0000
}

.vinlotteri .c21 {
  padding: 0;
  margin: 0
}

.vinlotteri .c2 {
  background-color: #999999;
  color: #0000ff
}

.vinlotteri .c19 {
  margin-left: 36pt
}

.vinlotteri .c5 {
  height: 11pt
}

.vinlotteri .c11 {
  background-color: #999999
}

.vinlotteri li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

.vinlotteri p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}