:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageContainer {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.pageContainer > * {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;
}

.navBar {
  display: flex;
  align-items: center;
  padding: 16px;
  background: #283593;
  gap: 8px;
}

.navBar > a, .link {
  color: #29B6F6;
  font-weight: 600;
  cursor: pointer;
}

.navBar > a:hover, .link:hover {
  color: #4FC3F7;
}

.navBar > a:hover:active, .link:hover:active {
  color: #B3E5FC
}

.navBar > img {
  height: 40px;

}

/* .employees {
  display: grid;
  grid-template-columns: 1fr, 5fr;
  grid-template-rows: 2fr, 1fr;
  grid-template-areas: "pfp header"
  "desc desc";

} */
.pfp {
  height: 100px; width: 100px; object-fit: cover; border-radius: 50%; flex-shrink: 0;
  grid-area: pfp
}
.header {
  display: flex; flex-direction: column; justify-content: center;
  grid-area: header;
  flex-grow: 1;
}
.desc {
  grid-area: desc
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button, .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button, .button {
    background-color: #f9f9f9;
  }
}

.projectLinks {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.projectLinks > a {
  padding: 16px 12px;
}

.presentation-enter-active, .presentation-leave-active, .presentation-back-enter-active, .presentation-back-leave-active {
  transition: transform 0.5s ease-out;
}

.presentation-leave-from, .presentation-enter-to, .presentation-back-leave-from, .presentation-back-enter-to {
  transform: translateX(0%);
}

.presentation-enter-from, .presentation-back-leave-to {
  transform: translateX(100%);
}

.presentation-leave-to, .presentation-back-enter-from {
  transform: translateX(-100%);
}

.transition-enter-active, .transition-leave-active {
  transition: opacity 0.5s ease-out;
}

.transition-leave-from, .transition-enter-to {
  opacity: 1;
}

.transition-leave-to, .transition-enter-from {
  opacity: 0;
}

.presentationPage {
  padding: 16px;
  position: absolute;
  top: 0;
  width: 100%;
}